<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
</head>
<body>
    <div class="background"></div>
    <div class="form-register">
        <div class="box">
            <h2>ĐĂNG NHẬP</h2>
            <form action="{% url 'login:loginUser' %}" method="post">
                {% csrf_token %}
                {{ lF.as_p }}
                {% if lF.errors %}
                    <ul class="error-list">
                        {% for field, errors in lF.errors.items %}
                            {% for error in errors %}
                                <li><span class="error-message">{{ error }}</span></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
                <input type="submit" value="ĐĂNG NHẬP">
                <p>Bạn chưa có tài khoản <a href="{% url 'register:registerUsser' %}">Đăng ký</a></p>
            </form>
        </div>
    </div>
    <div class="logo">
        <div class="box">
            <img src="{% static 'login/img/Ellipse3.png' %}" alt="Ellipse3">
            <div class="text">
                <p>P&S</p>
                <br>
                <p>Quản lý thiết bị</p>
            </div>
        </div>
    </div>
</body>
</html>