<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'thietbi/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'thietbi/css/bootstrap.min.css' %}">
    <script src="{% static 'thietbi/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'thietbi/js/jquery-3.6.0.min.js' %}"></script>
</head>
<body>
    <div class="app">
        <div class="logo">
            <img src="{% static 'thietbi/img/Ellipse3.png' %}" alt="Ellipse3">
            <p>P&S</p>
            <br>
            <p>Quản lý thiết bị</p>
        </div>
        <div class="header">
        </div>
        <div class="menu">
            <a href="{% url 'thietbi:chitietnguoidung' %}">
                <div class="task1">
                    <img src="{% static 'thietbi/img/Rectangle16.png' %}" alt="Rectangle16">
                    <p>Tài khoản</p>
                </div>
            </a>
            <a href="{% url 'thietbi:index' %}">
                <div class="task1">
                    <img src="{% static 'thietbi/img/Rectangle12.png' %}" alt="Rectangle12">
                    <p>Thiết bị</p>
                </div>
            </a>
            <a href="{% url 'thietbi:locthietbitheogia' %}">
                <div class="task1">
                    <img src="{% static 'thietbi/img/Rectangle16.png' %}" alt="Rectangle16">
                    <p>Phân tích</p>
                </div>
            </a>
            <a href="{% url 'thietbi:dash_chart' %}">
                <div class="task1">
                    <img src="{% static 'thietbi/img/Rectangle14.png' %}" alt="Rectangle14">
                    <p>Thống kê</p>
                </div>
            </a>
        </div>
        <div class="content">
            <h2 class="text-center">KẾT QUẢ SAU KHI TÌM KIẾM</h2>
            <table class="table table-bordered mt30">
                <thead class="bg-darkgray text-bold td">
                    <tr>
                        <td>ID</td>
                        <td>Thiết bị</td>
                        <td>Loại</td>
                        <td>Phòng</td>
                        <td>Nhà cung cấp</td>
                        <td>Tình trạng</td>
                        <td>Chi tiết</td>
                    </tr>
                </thead>
                <tbody>
                    {% for thietbi in results %}
                        <tr>
                            <td>{{ thietbi.id }}</td>
                            <td>{{ thietbi.tenthietbi }}</td>
                            <td>{{ thietbi.tenloai }}</td>
                            <td>{{ thietbi.tenphong }}</td>
                            <td>{{ thietbi.tennhacungcap }}</td>
                            <td>{{ thietbi.get_tinhtrang_display }}</td>
                            <td><a href="{% url 'thietbi:chitietthietbi' thietbi.id %}">Chi tiết</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="button-index">
            <a href="{% url 'thietbi:index' %}">
                <button type="submit">Quay lại</button>
            </a>
        </div>
    </div>
</body>
</html>